/* ==========================================================================




                            HEADER


===========================================================================*/

.Header {
  margin: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
/* HEADER LOGO */
.logo-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.logo-div a {
  display: flex;
  gap: 0.9rem;
  text-decoration: none;
  color: black;
}
.logo-div span {
  font-size: 1.2rem;
  font-weight: 600;
}
/* HEADER SEARCH */
.header-search {
  background-color: rgba(245, 245, 245, 1);
  border-radius: 25px;
  padding: 5px 25px 0px 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-search input {
  background-color: rgba(245, 245, 245, 1);
  outline: none;
  border: none;
  padding: 10px;
  width: 30rem;
}
/* HEADER BUTTON */
.header-btn-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0.5rem;
}
.header-btn-div a {
  text-decoration: none;
  text-align: center;
  color: black;
  font-weight: 700;
}
.header-btn-div img {
  border-radius: 25px;
}
.header-btn-div button {
  background-color: #1a5cf5;
  border: 1px solid #1a5cf5;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 10px;
  font-weight: 700;
  color: white;
}
.header-dropdown {
  display: none;
}
.fa-bars {
  height: 1.5rem;
}
/* CANVA ON HEADER */
.offcanvas-body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.offcanvas-body ul {
  list-style: none;
}
.offcanvas-body a {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
  font-weight: 600;
}
/*===================================================
          

                    NOT FOUNG


===================================================== */
.notFound {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 8rem 8rem 8rem;
  background-color: rgba(255, 255, 255, 0.4);
}
.notFound img {
  width: 80%;
  height: 80%;
}
/*===================================================
          

                    MAIN


===================================================== */

.main-row {
  overflow: hidden;
}
/* MAIN LEFT  */
.main-left-part {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  text-align: center;
}
.main-left-part h1 {
  font-size: 27px;
  font-weight: 700;
  margin-top: 80px;
  margin-bottom: 50px;
}
/* MAIN BUTTON  */
.dream-btn {
  background-color: white;
  border-radius: 25px;
  border: 1px solid white;
  padding: 7px 15px;
  font-weight: 700;
  font-size: 15px;
}
.green-step {
  display: none;
  width: 200px;
  margin-bottom: 30px;
  margin-right: 50px;
}
.main-add-project-btn a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.main-add-project-btn {
  border: 1px solid #1a5cf5;
  background-color: #1a5cf5;
  border-radius: 50px;
  padding: 0 20px;
}
.main-add-project-btn a {
  justify-content: center;
  align-items: center;
  display: flex;
  color: white;
  font-weight: 600;
  text-decoration: none;
}
.main-add-project-btn img {
  padding-top: 3px;
}
.main-add-project-btn {
  display: none;
}

.other-projects-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px 20px 50px 20px;
}
.bg-white {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 15px;
  background-color: rgba(248, 248, 248, 1);
}
/*===================================================
          

                    WEEKLY


===================================================== */
.weekly-projects {
  background-color: #f5f5f5;
}
/*===================================================
          

                    LATEST


===================================================== */
.Latest {
  margin: 20px 20px;
}
.Latest .row {
  margin-bottom: 20px;
}
/*  LATEST HEADER */
.latest-project-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}
.latest-project-header p {
  font-weight: 500;
  font-size: 15px;
  background-image: url(../public/images/green-border.svg);
  background-repeat: no-repeat;
  padding: 10px;
  background-size: contain;
  margin: 0;
}
.latest-project-header span {
  text-align: center;
}
.latest-project-header h1 {
  font-size: 1.9rem;
  font-weight: 800;
  text-align: center;
}
/*  LATEST BODY */
.latest-project-body .row {
  margin-bottom: 30px;
}
.latest-project-left {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-left: 10px;
  padding-right: 0;
}
.latest-project-right-author {
  padding-right: 10px;
  padding-left: 20px;
}
.latest-project-right-author h5 {
  font-size: 10px;
  font-weight: 700;
}
.latest-project-right-author p {
  font-size: 10px;
  font-weight: 600;
}
/*  LATEST GOAL */
.latest-project-goal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.latest-project-goal {
  margin-top: 40px;
}
.latest-project-goal p {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #13ce66;
  font-size: 12px;
}
.latest-project-goal span {
  font-size: 7px;
  color: black;
}
.latest-project-show-on-sm img {
  height: 100%;
  border-radius: 10px;
}
.display-lg-row {
  display: none;
}
/*  LATEST FOOTER */
.latest-project-footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.7);
  font-size: 15px;
  cursor: pointer;
  font-weight: 600;
}
.latest-project-footer span {
  border-bottom: 5px solid rgba(19, 206, 102, 1);
}
/*===================================================
          

                    FOOTER


===================================================== */
.Footer {
  background-color: #f5f5f5;
  padding: 30px 30px 80px 30px;
}
/*  FOOTER LOGO */

.footer-logo {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: center;
  margin-bottom: 30px;
}
.footer-logo a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-size: 17px;
  padding-left: 5px;
  text-align: center;
}
.footer-logo img {
  padding-right: 8px;
}
/*  FOOTER ANCHORS */
.footer-anchors {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.footer-anchors p {
  font-weight: 700;
}
.footer-anchors-div {
  display: flex;
  flex-direction: column;
}
.footer-anchors-div a {
  text-decoration: none;
  color: black;
  font-size: 700;
}
.footer-contract {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.footer-contract p {
  font-weight: 700;
}
.footer-contract-anchors {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 37px;
}
.footer-contract-anchors a {
  text-decoration: none;
  color: black;
}
/*===================================================
          

                    LOGIN


===================================================== */
.Login {
  margin: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-left-col {
  display: none;
}
#login-right-col {
  padding-left: 2.5rem;
}
.login-form h2 {
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 25px;
}
.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.login-email-div {
  margin-top: 5px;
  display: flex;
  align-items: center;
  padding: 6px 10px 8px 10px;
  border: 1px solid #1a5cf5;
  border-radius: 10px;
  background-color: #1a5cf5;
}
.login-email-div input {
  background-color: #1a5cf5;
  border: none;
  outline: none;
  color: white;
  margin-left: 10px;
  align-items: center;
}
.login-email-div input::placeholder {
  color: rgba(255, 255, 255, 0.4);
}
.login-password-label {
  margin-top: 20px;
}
.login-password-div {
  display: flex;
  margin-top: 5px;
  align-items: center;
  padding: 6px 10px 8px 6px;
  border: 1px solid #f5f5f5;
  border-radius: 10px;
  background-color: #f5f5f5;
}
.login-password-div input {
  border: none;
  outline: none;
  background-color: #f5f5f5;
  margin-left: 10px;
}
.login-remember-me {
  margin: 20px 10px;
}
.login-remember-me span {
  font-size: 16px;
}
.login-remember-me input {
  width: 20px;
  height: 15px;
  margin-right: 5px;
}
.login-form button {
  display: flex;
  padding: 8px 100px;
  border: 1px solid #1a5cf5;
  border-radius: 10px;
  background-color: #1a5cf5;
  color: white;
  align-items: center;
  justify-content: center;
}
.forgotten-password {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: 120px;
  margin-top: 10px;
  margin-left: 7.8rem;
  font-size: 0.8rem;
  font-weight: 500;
}
.forgotten-password:hover {
  color: #1a5cf5;
}
.social-media-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 80px;
  margin-left: 2rem;
}
.social-media-login-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}
.social-media-login-btn span {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.social-media-login-btn button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.08);
  background-color: white;
  border-radius: 10px;
}
.social-media-login-btn p {
  margin: 0 0 0 5px;
}
/*===================================================
          

                    REGISTER


===================================================== */
.Register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}
.register-left-col {
  display: none;
}
.register-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 70px;
}
.register-right-col {
  margin: 50px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.register-form h2 {
  font-weight: 700;
  font-size: 1.8rem;
  margin-bottom: 1.4rem;
}
.register-password-labels {
  display: flex;
  flex-direction: row;
  gap: 15px;
}
.register-form label {
  display: flex;
  flex-direction: column;
}
.register-btn {
  margin-top: 20px;
  color: white;
  background-color: #1a5cf5;
  border: 1px solid #1a5cf5;
  border-radius: 10px;
  padding: 8px 80px;
}
.register-form input {
  width: 290px;
  background-color: rgba(245, 245, 245, 1);
  border: 1px solid rgba(245, 245, 245, 1);
  border-radius: 10px;
  padding: 10px;
  margin-top: 5px;
  outline: none;
}
.register-password-labels input {
  width: 100px;
  padding: 2px 7px 7px 7px;
}
.register-password-div,
.register-confirm-password-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgba(245, 245, 245, 1);
  border: 1px solid rgba(245, 245, 245, 1);
  border-radius: 10px;
  outline: none;
  padding: 0px 10px 0 5px;
  margin-top: 5px;
}
.term-cond {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 600;
}
.term-cond input {
  width: 30px;
  height: 16px;
  border: 5px solid black;
  margin: 0;
}
.term-cond span {
  font-size: 1rem;
}
.register-form button {
  background-color: #1a5cf5;
  color: white;
  border-radius: 7px;
  border-color: #1a5cf5;
  padding: 10px;
}
.social-media-login p {
  font-size: 15px;
  font-weight: 600;
}
/*===================================================
          

                    PROFILE


===================================================== */
.background-img {
  display: none;
}
.profile-imgs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.profile-img {
  width: 100px;
  height: 100px;
}
.userprofile-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px 30px 60px 30px;
}
.profile-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.user-profile-surname-input,
.user-profile-firstname-input {
  background-color: #f5f5f5;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 5px;
  margin-top: 5px;
}
.user-profile-surname-input input,
.user-profile-firstname-input input {
  border: none;
  background-color: #f5f5f5;
  outline: none;
  width: 200px;
}
.confirm-registration h5 {
  font-size: 15px;
  font-weight: 700;
}
.confirm-registration p {
  font-size: 10px;
}
.id-card-label {
  display: flex;
  flex-direction: row;
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 10px;
}
.id-card-front-icon-label,
.id-card-back-icon-label {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: white;
  padding: 20px 30px;
  border-radius: 10px;
}
.id-card-back-icon-label p,
.id-card-front-icon-label p {
  color: rgba(0, 0, 0, 0.7);
}
.id-card-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 15px;
}
input[type="file"] {
  display: none;
}
.id-card-front-icon-label,
.id-card-back-icon-label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.reg-num-and-phone-num {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.user-profile-registration-input,
.user-profile-phone-num-input {
  background-color: #f5f5f5;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 5px;
}
.user-profile-registration-input input,
.user-profile-phone-num-input input {
  border: none;
  width: 200px;
  background-color: #f5f5f5;
  outline: none;
}
.id-card-front-para,
.id-card-back-para {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
/*===================================================
          

                    FAQ


===================================================== */
.Faq {
  margin: 5rem 0;
}
.faq-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.faq-header h1 {
  font-size: 40px;
  font-weight: 700;
}
.faq-header img {
  width: 150px;
  margin-bottom: 20px;
}
.faq-header span {
  font-size: 12px;
}
.faq-questions {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  border-top: dashed 1px black;
  padding: 30px 0;
}
.faq-questions button {
  border-radius: 10px;
  border: none;
  font-weight: 700;
  padding: 10px 5px;
}
.faq-questions p {
  padding-top: 10px;
  margin: 0;
}
.faq-answers {
  margin: 0px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*===================================================
          

                    Rewards


===================================================== */
.Reward {
  margin: 50px 25px 15rem 25px;
}
.Reward h5 {
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 15px;
}
.reward-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.reward-header h2 {
  text-align: center;
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 10px;
}
.reward-header-input {
  display: flex;
  justify-content: space-between;
  border: 1px solid #f5f5f5;
  background-color: #f8f8f8;
  border-radius: 5px;
  padding: 10px 20px;
  align-items: center;
  margin-bottom: 10px;
}
.reward-header-input button {
  background-color: #1a5cf5;
  border: 1px solid #1a5cf5;
  border-radius: 5px;
  padding: 5px 12px;
  color: white;
}
.reward-header-input p {
  margin-bottom: 0;
  font-weight: 700;
}
.reward-header-input span {
  color: #1a5cf5;
  font-weight: 500;
  padding-right: 5px;
}
/*===================================================
          

                    TERM AND CONDITIONS


===================================================== */
.TermAndCondition {
  margin: 50px 30px 8rem 30px;
}
.term-form h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}
.term-form span {
  font-weight: 500;
  font-size: 14px;
}
.term-input-check {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 50px 10px;
}
.term-input-check span {
  color: rgba(0, 0, 0, 0.7);
}
.term-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.term-form button {
  background-color: #1a5cf5;
  color: white;
  border: 1px solid #1a5cf5;
  padding: 10px 30px;
  border-radius: 5px;
}
/*===================================================
          

                    PAYMENT


===================================================== */
.Payment {
  margin: 80px 25px 80px 25px;
}
.payment-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.payment-header h4 {
  font-weight: 700;
  color: orange;
}
.payment-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.top-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.top-row img {
  max-width: 3rem;
}
.top-row button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(234, 234, 234, 1);
  border-radius: 8px;
  background-color: white;
}
.bottom-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}
.bottom-row img {
  max-width: 3rem;
}
.bottom-row button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(234, 234, 234, 1);
  border-radius: 8px;
  background-color: white;
}
.payment-footer {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  align-items: center;
  border: 1px solid orange;
  border-radius: 7px;
  padding: 15px 25px;
  background-color: rgba(255, 251, 235, 1);
  margin-bottom: 50px;
}
.Projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 50px 20px 80px 25px;
}
.projects-header {
  display: flex;
  align-items: center;
  gap: 10px;
  border: none;
  border-radius: 5px;
  padding: 0.5rem;
  padding-left: 1rem;
  margin-bottom: 1rem;
  width: 300px;
}
.projects-header input {
  outline: none;
  border: none;
  font-size: 18px;
  width: 100%;
}
.projects-header svg {
  height: 25px;
  width: 25px;
}
.artprojects-header p,
.technologyProjects-header p,
.gamesprojects-header p {
  font-weight: 500;
  font-size: 1.2rem;
}
.artprojects-header h2,
.technologyProjects-header h2,
.gamesrojects-header h2 {
  font-weight: 700;
  font-size: 1.5rem;
}
.artprojects-header,
.technologyProjects-header,
.gamesprojects-header {
  margin-bottom: 1.5rem;
}
.art-project-carousel,
.tech-project-carousel,
.game-project-carousel {
  margin-bottom: 2rem;
}
.react-multiple-carousel__arrow {
  min-width: 5px !important;
  min-height: 100px !important;
}
.card-goal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin: 0.5rem 0.5rem 2rem 0.5rem;
}
.card-goal-left .process-bar {
  height: 0.4rem;
}
.card-goal-left .process {
  background-color: #f8f8f8;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  border-radius: 25px;
}
.card-body .card-title {
  font-size: 1.2rem !important;
}
.card-body .card-text {
  font-size: 1rem;
}
.process-money {
  color: #13ce66;
  font-weight: 700;
}
.react-multi-carousel-track {
  margin-bottom: 3rem !important;
}
.card {
  height: 100% !important;
}
.card a {
  text-decoration: none;
  color: black;
}
