/* ==========================================================================




                      Extra small devices (phones, 600px and down)


===========================================================================*/
@media only screen and (max-width: 600px) {
  .Header {
    display: flex;
    justify-content: space-around;
  }
  .logo-div {
    display: flex;
    justify-content: space-around;
    gap: 0.5rem;
  }
  .logo-div span {
    font-size: 1.5rem;
    font-weight: 700;
  }
  .logo-div img {
    width: 3.5rem;
  }
  .header-search {
    display: none;
  }
  .header-dropdown {
    display: flex;
  }
  .header-btn-div {
    display: none;
  }

  .latest-project-right-author h5 {
    font-size: 0.8rem;
  }
  .latest-project-right-author p {
    font-size: 0.6rem;
  }
  .latest-project-goal p {
    font-size: 0.8rem;
    gap: 5px;
  }
  .latest-project-goal span {
    font-size: 8px;
  }
  .latest-project-left {
    padding-right: 0;
  }
  .footer-contract-anchors {
    margin-right: 10px;
  }
  .login-form {
    font-size: 1rem;
  }
  .main-row {
    background-image: url(../public/images/main-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .process-div {
    height: 0.4rem;
  }
}
/* ==========================================================================




         SMALL DEVICES (portrait tablets and large phones, 600px and up)


===========================================================================*/
@media only screen and (min-width: 600px) {
  .Header {
    justify-content: space-between;
    margin-right: 5rem;
    margin-left: 5rem;
  }
  .logo-div {
    gap: 0.5rem;
  }
  .logo-div span {
    font-size: 1.6rem;
    font-weight: 700;
  }
  .header-search {
    display: none;
  }
  .header-search input {
    width: 20rem;
  }
  .header-dropdown {
    display: flex;
  }
  .header-btn-div {
    display: none;
  }
  /* Main */
  .main-row {
    background-image: url(../public/images/main-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .process {
    padding-bottom: 1px;
    height: 0.6rem;
  }
  .process-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 0.4rem;
    margin-left: 5px;
  }
  .process-price h5 {
    font-size: 2rem;
    font-weight: 700;
  }
  .process-price span {
    font-size: 0.9rem;
  }
  .process-btn button {
    margin-top: 50px;
    font-size: 1rem;
    padding: 10px 15px;
  }

  .Latest {
    margin: 4rem 3rem;
  }
  .latest-project-header p {
    font-size: 1.5rem;
    padding: 22px;
  }
  .latest-project-header h1 {
    font-size: 2.5rem;
  }
  .latest-project-header span {
    font-size: 1.2rem;
  }
  .latest-project-left {
    padding-right: 0;
  }
  .latest-project-right-author h5 {
    font-size: 1.3rem;
  }
  .latest-project-right-author p {
    font-size: 0.8rem;
  }
  .progress {
    height: 0.6rem !important;
  }
  .latest-project-goal p {
    gap: 10px;
    font-size: 1rem;
  }
  .latest-project-goal span {
    font-size: 0.8rem;
  }
  .latest-project-footer a {
    font-size: 1.3rem;
  }
  .Footer {
    padding: 30px 80px 80px 80px;
  }
  .footer-logo a {
    font-size: 1.3rem;
  }
  .footer-contract-anchors {
    margin-right: 10px;
  }
  .footer-logo a {
    font-size: 1.5rem;
  }
  .footer-desc p {
    font-size: 1.2rem;
  }
  .footer-anchors-div a,
  .footer-contract-anchors a {
    font-size: 1.2rem;
  }
  .Login {
    margin: 80px 50px;
  }
  .login-form h2 {
    font-size: 1.8rem;
  }
  .login-form {
    font-size: 1.5rem;
  }
  .login-email-div,
  .login-password-div {
    padding: 10px 14px 12px 14px;
    margin-top: 10px;
  }
  .login-password-div span {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .login-form button {
    padding: 8px 140px;
  }
  .forgotten-password {
    font-size: 1rem;
    margin-left: 12.8rem;
  }
  .social-media-login p {
    font-size: 1.5rem;
  }
  .social-media-login-btn {
    justify-content: space-evenly;
  }
  .social-media-login-btn p {
    font-size: 1.2rem;
  }
  .social-media-login-btn svg {
    height: 20px;
    width: 20px;
  }
  .profile-name {
    width: 80%;
  }
  .profile-name label {
    width: 80%;
  }
  .confirm-registration h5 {
    font-size: 1.5rem;
  }
  .confirm-registration p {
    font-size: 1rem;
  }
  .reg-num-and-phone-num {
    width: 80%;
  }
  .reg-num-and-phone-num label {
    width: 80%;
  }
  .userprofile-form button {
    width: 45%;
  }
  .save,
  .share {
    font-size: 1.5rem;
    margin: 2px;
  }
}
/* ==========================================================================




                   MEDUIM DEVICES (landscape tablets, 768px and up)



===========================================================================*/
@media only screen and (min-width: 768px) {
  .logo-div span {
    font-weight: 700;
  }
  .header-btn-div {
    display: none;
  }
  .container-fluid {
    background-image: url(../public/images/main-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .main-left-part {
    padding: 0;
  }
  .main-left-part h1 {
    font-size: 2.8rem;
  }
  .main-add-project-btn {
    display: none;
  }

  .dream-btn {
    display: flex;
    border: 1px solid white;
    background-color: white;
    border-radius: 25px;
    padding: 10px 15px;
    font-weight: 700;
  }

  .Latest {
    margin: 5rem 10rem;
  }
  .latest-project-left {
    padding-right: 0;
  }
  .latest-project-header span {
    font-size: 1.3rem;
  }
  .latest-project-footer a {
    margin: 5rem 0;
    font-size: 1.3rem;
  }
  .footer-logo a {
    font-size: 1.5rem;
  }
  .footer-desc p {
    font-size: 1.2rem;
  }
  .footer-anchors-div a,
  .footer-contract-anchors a {
    font-size: 1.2rem;
  }
  .footer-contract-anchors {
    margin-right: 10px;
  }
  .footer-anchors,
  .footer-contract {
    justify-content: space-around;
  }
  .register-form h2 {
    font-size: 2.3rem;
  }
  .register-form input {
    width: 420px;
  }
  .register-password-labels input {
    width: 158px;
  }
  .term-cond input {
    width: 16px;
    margin: 10px 15px 10px 20px;
    height: 16px;
  }
  .term-cond span {
    font-size: 1.2rem;
  }
  .register-form button {
    margin-top: 0;
  }
  .register-form span {
    font-size: 1.2rem;
    margin-bottom: 0.3rem;
    margin-top: 0.3rem;
    margin-left: 0.5rem;
  }
  .social-media-login {
    margin-left: 0;
    margin-right: 4rem;
  }
  .id-card-div {
    gap: 5rem;
  }
  .id-card-label {
    padding: 20px 40px;
  }
  .id-card-back-icon-label,
  .id-card-front-icon-label {
    padding: 30px 25px;
  }
  .id-card-front-icon-label svg,
  .id-card-back-icon-label svg {
    width: 25px;
    height: 25px;
  }
  .card {
    width: 21rem !important;
  }
}
/* ==========================================================================




                LARGE DEVICES (laptops/desktops, 992px and up)


===========================================================================*/
@media only screen and (min-width: 992px) {
  .main-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 4rem;
  }
  .main-left-part h1 {
    font-size: 3.6rem;
  }

  .background-change {
    display: flex;
    flex-direction: row;
    margin-bottom: 0;
  }

  .process-price h4 {
    font-size: 1.5rem;
  }

  .process-btn button {
    font-size: 0.8rem;
  }
  .process-price span {
    font-size: 0.8rem;
  }
  .Header {
    margin: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .logo-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
  }
  .logo-div span {
    font-size: 1.6rem;
    font-weight: 700;
  }
  .header-search {
    background-color: rgba(245, 245, 245, 1);
    border-radius: 25px;
    padding: 5px 25px 0px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header-search input {
    background-color: rgba(245, 245, 245, 1);
    outline: none;
    border: none;
    padding: 10px;
    width: 20rem;
  }
  .header-dropdown {
    display: none;
  }
  .header-btn-div {
    display: flex;
  }
  .Latest {
    margin: 5rem 10rem;
  }

  .latest-project-right-author h5 {
    font-size: 1.6rem;
  }
  .latest-project-right-author p {
    font-size: 0.8rem;
  }
  .latest-project-goal p {
    font-size: 1.2rem;
  }
  .latest-project-goal span {
    font-size: 1rem;
  }
  .latest-project-footer a {
    margin: 5rem 0;
    font-size: 1.5rem;
  }
  .footer-logo {
    justify-content: center;
    align-items: center;
  }
  .footer-logo a {
    font-size: 2rem;
  }
  .footer-desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer-anchors-div {
    flex-direction: row;
    gap: 2rem;
  }
  .footer-contract {
    display: flex;
    flex-direction: row;
  }
  .footer-contract p {
    margin: 0;
  }
  .footer-anchors,
  .footer-contract {
    gap: 1rem;
  }
  .footer-contract-anchors {
    display: flex;
    flex-direction: row;
    margin: 0;
    gap: 2rem;
  }
  .Login {
    margin: 5rem 0;
  }
  .login-left-col {
    width: 50%;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    background-image: url(/public/images/joker-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
  }
  .login-row {
    border: 1px solid rgba(245, 245, 245, 5);
    border-radius: 25px;
  }
  .login-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 7rem;
  }
  .login-header h3 {
    margin-bottom: 0;
    font-size: 2rem;
    font-weight: 700;
  }
  .login-header img {
    margin-left: 1.5rem;
    width: 18rem;
  }
  .login-btns {
    margin: 5rem 3rem 0 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .welcome-btn button {
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 25px;
    padding: 10px 12px 12px 12px;
  }
  .three-dot button {
    margin-top: 7rem;
    border: 1px solid #1a5cf5;
    background-color: #1a5cf5;
    border-radius: 20px;
    padding: 1px 20px;
  }
  .login-footer {
    margin-top: 140px;
    padding-top: 25px;
    border-top: 1px solid rgba(245, 245, 245, 1);
    color: rgba(245, 245, 245, 1);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .login-footer p {
    font-size: 1.2rem;
  }
  .login-footer a {
    color: white;
    text-decoration: none;
    font-weight: 700;
  }
  .login-right-col {
    flex: 0 0 auto;
    width: 50%;
    padding: 3rem;
  }
  .login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
  }
  .login-form button {
    padding: 8px 118px;
  }
  .login-remember-me {
    margin-right: 9rem;
  }
  .login-remember-me span {
    font-size: 1.2rem;
  }
  .login-remember-me input {
    width: 16px;
    height: 16px;
  }
  .forgotten-password {
    margin-left: 6.8rem;
  }
  .Register {
    margin: 5rem 0;
  }
  .register-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 1px solid rgba(245, 245, 245, 1);
    border-radius: 25px;
  }
  .register-left-col {
    display: flex;
    flex-direction: column;
    background-image: url(../public//images/joker-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: space-between;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
  }
  .register-form input {
    width: 290px;
  }
  .register-password-labels input {
    width: 100px;
  }
  .term-cond input {
    width: 30px;
  }
  .register-right-col {
    margin: 0;
  }
  .register-header h3 {
    text-align: center;
    color: white;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 0;
  }
  .register-header {
    margin-bottom: 7rem;
    margin-top: 3rem;
  }
  .register-btns {
    display: flex;
    flex-direction: row;
  }
  .register-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid white;
    padding-top: 1rem;
  }
  .register-footer p {
    color: rgba(255, 255, 255, 0.82);
    font-weight: 600;
  }
  .register-footer a {
    color: white;
    text-decoration: none;
  }
  .register-right-col {
    padding: 3rem 3.5rem;
  }
  .register-form {
    margin-bottom: 1.4rem;
  }
  .register-form h2 {
    font-size: 2rem;
  }
  .register-form span {
    margin-top: 1rem;
    font-size: 1rem;
  }
  .term-cond {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .register-password-div span,
  .register-confirm-password-div span {
    margin: 0;
  }
  .term-cond input {
    margin: 1rem 0 0 0;
    width: auto;
  }
  .social-media-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  .social-media-login p {
    font-size: 1.2rem;
    font-weight: 700;
  }
  .social-media-login-btn p {
    font-size: 1rem;
    font-weight: 500;
  }
  #google-icon {
    width: 30px;
    height: 20px;
  }
  .background-img {
    display: block;
  }
  .profile-imgs {
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
  }
  .profile-img {
    position: absolute;
    top: 55%;
  }
  .id-card-div {
    gap: 7rem;
  }
  .id-card-label {
    padding: 20px 50px;
  }
  .card {
    width: 25rem !important;
  }
  .card-goal-left p {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
  .process {
    height: 0.8rem;
    background-color: gainsboro;
  }
  .process-bar {
    height: 0.6rem !important;
  }
  .process-money {
    font-size: 1.2rem;
  }
  .projects-header {
    display: none;
  }
}
/* ==========================================================================




             Extra large devices (large laptops and desktops, 1200px and up)


===========================================================================*/
@media only screen and (min-width: 1200px) {
  .Header {
    margin: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .logo-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.9rem;
  }
  .logo-div span {
    font-size: 1.7rem;
    font-weight: 700;
  }
  .header-search {
    background-color: rgba(245, 245, 245, 1);
    border-radius: 25px;
    padding: 5px 25px 0px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header-search input {
    background-color: rgba(245, 245, 245, 1);
    outline: none;
    border: none;
    padding: 10px;
    min-width: 30rem;
    width: 30rem;
  }
  .header-btn-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 2rem;
  }
  .header-btn-div a {
    text-decoration: none;
    text-align: center;
    color: black;
    font-weight: 700;
  }
  .header-btn-div img {
    border-radius: 25px;
  }
  .header-btn-div button {
    background-color: #1a5cf5;
    border: 1px solid #1a5cf5;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 20px;
    font-weight: 700;
    color: white;
  }
  .header-dropdown {
    display: none;
  }
  .fa-bars {
    height: 1.5rem;
  }
  .offcanvas-body {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .offcanvas-body ul {
    list-style: none;
  }
  .offcanvas-body a {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    font-weight: 600;
  }
  .process-price h5 {
    font-size: 2rem;
  }
  .process-btn button {
    font-size: 1rem;
  }
  .process-price span {
    font-size: 1rem;
  }

  .Latest {
    margin: 5rem 25rem;
  }
  .latest-project-left {
    padding-right: 0;
  }
  .latest-project-right-author {
    padding-left: 20px;
  }
  .latest-project-left img {
    width: max-content;
  }
  .latest-project-right-author h5 {
    font-size: 2rem;
  }
  .latest-project-right-author p {
    font-size: 1rem;
  }
  .latest-project-goal p {
    font-size: 1.6rem;
  }
  .latest-project-goal span {
    font-size: 1.2rem;
  }
  .login-form {
    font-size: 1.5rem;
  }
  .login-form h2 {
    font-size: 2rem;
  }
  .login-label-span {
    font-size: 1.5rem;
  }
  .login-form button {
    padding: 8px 140px;
  }
  .forgotten-password {
    margin-left: 12.8rem;
  }
  .social-media-login p {
    font-size: 1.6rem;
  }
  .social-media-login-btn p {
    font-size: 1.2rem;
  }
  .login-row {
    width: 80%;
  }
  .register-row {
    width: 80%;
  }
  .register-form span {
    font-weight: 600;
  }
  .id-card-div {
    gap: 10rem;
  }
  .id-card-label {
    padding: 30px 50px;
  }
  .profile-img {
    width: 170px;
    height: 170px;
    position: absolute;
    top: 52%;
  }
  .UserProfile span {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  .UserProfile input {
    font-size: 1.2rem;
  }
  .profile-name,
  .reg-num-and-phone-num {
    width: 60%;
  }
  .card {
    width: 20rem !important;
  }
  .react-multi-carousel-track {
    margin-bottom: 4rem;
  }
  .projects-header {
    width: 50rem;
    font-size: 1.5rem;
  }
}
/* ==========================================================================




             Extra large devices (large laptops and desktops, 1500px and up)


===========================================================================*/
@media only screen and (min-width: 1500px) {
  .header-search input {
    min-width: 38rem;
    width: 40rem;
  }
  .login-left-col {
    flex: 0 0 auto;
    width: 45%;
  }
  .login-right-col {
    flex: 0 0 auto;
    width: 55%;
  }

  .id-card-div p {
    font-size: 1.2rem;
  }
  .card {
    width: 30rem !important;
  }
}
